.git
**/.git
**/node_modules
node_modules
.venv
**/.venv
.local
**/.local
.pytest_cache
**/.pytest_cache
**/__pycache__
__pycache__
*.pyc
*.pyo
frontend/node_modules
frontend/dist
dist
build
attachments
**/attachments
.ruff_cache
.mypy_cache
.coverage
.coverage.*
htmlcov
